body {
    font-family: "Montserrat", sans-serif;
}

form {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-left: 24px;
    align-items: flex-start;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    /* width: 86px;
    height: 40px; */
    background-color: #4e75ff;
    border: none;
    margin-top: 16px;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: white;
}